body{

	background-color:#154360;
}

.login-card {
  padding:40px;
  width: 450px;
  background-color: #F7F7F7;
  margin:auto;
  margin-top:10%;

  border-radius: 5px;
  box-shadow: 0px 2px 2px gray;
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  
 
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  
 
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;

}

.login-submit {

  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
height: 36px;
}

.login-submit:hover {
 
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
 
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
  
}

.login-card a:hover {
  opacity: 1;
}


@media screen and (max-width:970px){
	.login-card{
		width:60%;
		height:20%;
	}
	.login-card h1{
		font-size:25px;
	}
}
@media screen and (max-width:750px){
	.login-card{
		width:50%;
		height:15%;
	}
	.login-card h1{
		font-size:20px;
	}
}
@media screen and (max-width:450px){
	.login-card{
		width:60%;
		height:10%;
	}
	.login-card h1{
		font-size:20px;
	}
}
@media screen and (max-width:300px){
	.login-card{
		width:70%;
		height:5%;
	}
	.login-card h1{
		font-size:15px;
	}
}